<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/study-resources'" title="'Учебные ресурсы'|translate" />
    <crumb href="'/tests/'" title="'Тесты'|translate" />
    <crumb href="'/tests/' + test.id + '/questions'" title="test.title" />
    <crumb title="'Редактирование вопроса'|translate" />
</breadcrumbs>

<div class="padded">
    <div class="page-header">
        <h1>{{'Редактирование вопроса'|translate}}</h1>
        <h6><strong>{{'Тест'|translate}}:</strong> {{test.title}}</h6>
    </div>

    <div class="main-content" ng-include="'/themes/default/views/modules/tests/form-edit-questions.html'"></div>
</div>