<div class="form-group">
    <label class="control-label col-lg-2">{{'Ресурс'|translate}}<span class="star">*</span></label>

    <div class="controls col-lg-9">
        <select class="form-control" ng-model="data.task.element_id" name="element_id"
                ng-options="c.id as c.title for c in resources"
                required></select>

        <div class="ng-cloak help-block" ng-if="data.task.element_id.$invalid">
            {{'Поле не может быть пустым'|translate}}
        </div>
    </div>
</div>