<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/tasks'" title="'Задания'|translate" />
    <crumb title="data.task.title" />
    <crumb title="'Редактирование задания'|translate" />
</breadcrumbs>


<div class="padded" bz-loading-container="loading">
    <div class="page-header">
        <h1>{{'Редактирование задания'|translate}}</h1>
        <h6><strong>{{'Задание'|translate}}:</strong> {{data.task.title}}</h6>
    </div>

    <div class="main-content" ng-include="'/themes/default/views/modules/tasks/form-edit.html'"></div>

</div>