<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/tasks'" title="'Задания'|translate"/>
    <crumb href="'/tasks/' + task.id" title="taskTitle" />
    <crumb title="'Назначение пользователей'|translate"/>
</breadcrumbs>


<div class="padded">

    <div class="page-header">
        <div class="table-actions">

            <div class="btn-group" ng-show="checkboxes.checkedAny">
                <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    {{'Действия'|translate}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a data-ng-click="assignChecked(checkboxes.items)"><span class="fa fa-check-square"></span> {{'Назначить задание'|translate}}</a></li>
                    <li><a data-ng-click="unassignChecked(checkboxes.items)"><span class="fa fa-square"></span> {{'Отменить задание'|translate}}</a></li>

                </ul>
            </div>
        </div>
        <h1>{{'Назначение пользователей'|translate}}</h1>
        <h6><strong>{{'Задание'|translate}}:</strong> {{taskTitle}}</h6>
    </div>



    <div class="main-content" bz-loading-container="loading">

        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-hover table-users">
            <tr ng-repeat="user in users" ng-class="{'success': user.checked}">

                <td width="20" style="text-align: left;"
                    header="'/themes/default/views/block/ng-table/headers/checkbox.html'">
                    <input type="checkbox" ng-model="checkboxes.items[user.id]"/>
                </td>

                <td data-title="'ФИО'" filter="{ 'email': 'text' }">
                    <strong>{{user.email}}</strong><br/>
                    {{user.fullname}}
                </td>

                <td width="95" class="text-center" data-title="'Действия'">
                    <a class="btn btn-sm btn-default" data-ng-click="assign(user)">
                        <span ng-if="!user.checked">{{'Назначить'|translate}}</span>
                        <span ng-if="user.checked">{{'Убрать'|translate}}</span>
                    </a>
                </td>

            </tr>
        </table>

    </div>
</div>