<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate"/>
    <crumb title="'Мои задания'|translate"/>
</breadcrumbs>

<div class="padded">
    <div class="page-header">
        <h1>{{'Мои задания'|translate}}</h1>
    </div>

    <div class="main-content" bz-loading-container="loading">
        <div ng-show="tasks.length > 0">
            <table ng-table="tableParams" show-filter="true"
                   class="table ng-table-responsive table-striped table-condensed table-hover table-tasks">
                <tr ng-repeat="task in tasks">
                    <td class="table-preview" data-title="'Название'|translate" filter="{ 'title': 'text' }"
                        sortable="'title'">
                        <span ng-if="task.can_execute">
                            <span ng-if="task.type == 'test'">
                                <span class="preview img-circle">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                                <a class="name" href="/tests/execute/{{task.id}}" title="{{'Пройти'|translate}}">
                                    {{task.title}}
                                </a>
                                <span class="subtext">{{task.description}}</span>
                            </span>

                            <span ng-if="task.type == 'resource'">
                                <span class="preview img-circle">
                                    <i get-file-icon="task.element"></i>
                                </span>
                                <a class="name" href="/pages/execute/{{task.id}}" title="{{'Пройти'|translate}}">{{task.title}}</a>
                            </span>

                            <span ng-if="task.type == 'course'">
                                <span class="preview img-circle">
                                    <i class="fa fa-th-large"></i>
                                </span>
                                <a class="name" href="/courses/execute/{{task.id}}" title="{{'Пройти'|translate}}">{{task.title}}</a>
                            </span>
                        </span>
                        <span ng-if="!task.can_execute">
                            {{task.title}}
                        </span>
                    </td>
                    <td data-title="'Тип'|translate" class="text-center" filter="{ 'type': 'select' }" filter-data="filterTypes($column)" sortable="'type'">

                        <span ng-if="task.type == 'test' ">{{'Тест'|translate}}</span>
                        <span ng-if="task.type == 'resource' ">{{'Ресурс'|translate}}</span>
                        <span ng-if="task.type == 'course' ">{{'Курс'|translate}}</span>
                    </td>
                    <td data-title="'Дата создания'|translate" class="text-center"
                        filter="{ 'created_at': 'date', 'templateURL': '/themes/default/views/block/ng-table/filters/date.html' }"
                        sortable="'created_at'">
                        {{task.created_at | date:'yyyy-MM-dd'}}
                    </td>
                    <td data-title="'Статус'|translate" filter="{ 'status': 'select' }" filter-data="filterStatus($column)" class="text-center"
                        sortable="'status'">
                        <span ng-if="!task.status" class="label label-default">{{'Не начато'|translate}}</span>
                        <span ng-if="task.status == 'started' "
                              class="label label-warning">{{'Начато'|translate}}</span>
                        <span ng-if="task.status == 'inprogress' " class="label label-primary">{{'В процессе'|translate}}</span>
                        <span ng-if="task.status == 'finished' "
                              class="label label-success">{{'Выполненно'|translate}}</span>
                    </td>
                    <td data-title="'Результат'|translate" class="text-center" filter="{ 'mark': 'text' }"
                        sortable="'mark'">
                        {{task.mark}}
                    </td>
                    <td data-title="'Выполнено раз'|translate" class="text-center" filter="{ 'attempts_count': 'text' }"
                        sortable="'attempts_count'">
                        {{task.attempts_count}}
                    </td>
                    <td ng-if="task.can_execute" width="95" data-title="'Действия'|translate" class="text-center"
                        filter="{ 'clear': 'clear', 'templateURL': '/themes/default/views/block/ng-table/filters/clear.html' }">
                        <a ng-if="task.type == 'test'" class="btn btn-sm btn-success" href="/tests/execute/{{task.id}}"
                           title="{{'Пройти'|translate}}"><span class="fa fa-rocket"></span></a>
                        <a ng-if="task.type == 'resource'" class="btn btn-sm btn-success"
                           href="/pages/execute/{{task.id}}" title="{{'Пройти'|translate}}"><span
                                class="fa fa-rocket"></span></a>
                        <a ng-if="task.type == 'course'" class="btn btn-sm btn-success"
                           href="/courses/execute/{{task.id}}" title="{{'Пройти'|translate}}"><span
                                class="fa fa-rocket"></span></a>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-show="tasks.length == 0">{{'У вас нет заданий'|translate}}</div>
    </div>
</div>

