<form ng-controller="RegistrationCtrl" class="registration form-horizontal" name="register" novalidate>
    <div ng-show="!registrationComplete" class="form-group" ng-class="{ 'has-error': (register.email.$dirty && register.email.$invalid) || errors.email}">
        <label class="control-label col-lg-3">{{'E-mail'|translate}}<span class="star">*</span></label>
        <div class="controls col-lg-9">
            <input class="form-control" type="email" placeholder="Введіть Ваш e-mail" ng-model="user.email" ng-unique="checkEmail($value)" name="email" required>
            <div class="ng-cloak help-block" ng-if="register.email.$dirty && register.email.$error.email">
                {{'Неверно заполнено поле E-mail'|translate}}
            </div>
            <div class="ng-cloak help-block" ng-if="(register.email.$dirty && register.email.$error.unique) || errors.email.uniqueEmail">
                {{'Пользователь с таким email уже зарегистрирован'|translate}}
            </div>
        </div>
    </div>
    <div ng-show="!registrationComplete" class="form-group">
        <div class="controls col-lg-9 col-lg-offset-3">
            <label class="checkbox">
                <input id="tandc" ng-model="user.agree" type="checkbox" name="agree" required class="check_boxes"/>
                {{'Я согласен с '|translate}}<a href="/post-29" target="_blank">{{'условиями портала'|translate}}</a>
            </label>
        </div>
    </div>
    <div ng-show="!registrationComplete" class="form-group">
        <div class="controls col-lg-9 col-lg-offset-3">
            <button ng-disabled="register.$invalid || loading" ng-click="registerUser(user)" class="btn btn-primary">
                <span ng-hide="loading">{{'Регистрация'|translate}}</span>
                <span ng-show="loading">{{'Регистрация...'|translate}}</span>
            </button>
        </div>
    </div>
    <div ng-show="registrationComplete" class="form-group">
        <div class="controls col-lg-12">
            Ссылка для активации выслана на указанный Вами емайл. Пожалуйста, активируйте Ваш профиль.
        </div>
    </div>
</form>