<breadcrumbs>
    <crumb href="'/'" title="'Главная'|translate" />
    <crumb title="'Восстановление пароля'|translate" />
</breadcrumbs>


<div class="padded" bz-loading-container="loading">
    <div class="page-header">
        <h1>{{'Восстановление пароля'|translate}}</h1>
    </div>

    <div class="main-content">
        <div class="alert alert-block alert-success" ng-if="sending">{{'На указанный e-mail отправлена инструкция по восстановлению пароля'|translate}} </div>

        <div ng-include="'/themes/default/views/user/form-password-recovery.html'"></div>
    </div>
</div>