<div class="panel panel-primary">
    <div class="panel-heading">
        {{'План курса'|translate}}
        <!--span ng-if="task.parent && task.parent.plan_percent_complete">{{task.parent.plan_percent_complete}}%</span>
        <span ng-if="task.parent && task.parent.plan_percent_complete < 100"><i class="fa fa-flag"></i></span>
        <span ng-if="task.parent && task.parent.plan_percent_complete >= 100"><i class="green fa fa-check"></i></span-->
    </div>

    <div class="list-group">
        <a class="list-group-item"
           ng-class="{'active': subTask.id == task.id}"
           ng-repeat="subTask in task.plan"
           ng-if="subTask.type == 'resource' || subTask.type == 'test'" class="{{subTask.status}}"
            ng-href="{{subTask.can_execute == false ? '' :  subTask.type == 'resource' ? '/pages/execute/'+subTask.id : '/tests/execute/'+subTask.id }}{{mode ? '?mode='+mode : ''}}">
            <span ng-if="subTask.status && subTask.status != 'finished'"><i class="fa fa-flag"></i></span>
            <span ng-if="subTask.status == 'finished'"><i class="green fa fa-check"></i></span>
            {{subTask.title}}
            {{subTask.can_execute}}
        </a>
    </div>
</div>
