<div class="container panel panel-profile">
    <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-12 course-sidebar sidebar-right">

        <img class="img-circle" ng-src="{{(user.photo ? user.photo : '/themes/default/assets/img/defaultuser.jpg')}}"
             src="/themes/default/assets/img/preloader.gif" alt="{{user.fullname}}">

        <div bz-uploader="'/api/rest.php/auth/users/' + user.id + '?action=upload'" limit="1" text="{'choose': 'Фото не загруженно'}"
             ng-model="user.photo" autoupload="true" data-ng-hide="user.photo">
            <div ng-repeat="file in files" class="bz-uploaded-file">
            </div>
        </div>
        <p><a href="" class="btn btn-primary" data-ng-click="user.photo = ''" role="button" data-ng-show="user.photo">{{'Удалить'| translate}}</a>
        <br/>


        <h3 class="profile-title text-center">{{user.fullname}}</h3>

        <!--p class="profile-info">Chief Marketing Officer</p-->

        <div class="btn-group btn-group-vertical">
            <a ng-href="/users/edit/{{user.id}}" class="btn btn-default">{{'Редактировать профиль'|translate}}</a>
            <a ng-href="/users/change-pass/{{user.id}}" class="btn btn-default">{{'Сменить пароль'|translate}}</a>
            <a ng-href="/users/change-roles/{{user.id}}" class="btn btn-default">{{'Назначить роли'|translate}}</a>
        </div>

    </div>
    <div class="panel-body col col-lg-9 col-md-9 col-sm-8 col-xs-12" bz-loading-container="loading"
         app-view-segment="1">
        <breadcrumbs>
            <crumb href="'/'" title="'Мой кабинет'|translate"/>
            <crumb title="'Администрирование'|translate"/>
            <crumb href="'/users'" title="'Пользователи'|translate"/>
            <crumb title="user.shortName"/>
        </breadcrumbs>

        <div class="page-header">
            <h1>{{'Профиль'|translate}}</h1>
        </div>

        <div class="main-content">
            <h4>{{'Информация об учетной записи'|translate}}</h4>
            <dl class="dl-horizontal">
                <dt>{{'Логин'|translate}}:</dt>
                <dd>{{user.login}}</dd>
                <dt>{{'E-mail'|translate}}:</dt>
                <dd>{{user.email}}</dd>
                <dt>{{'Пол'|translate}}:</dt>
                <dd ng-if="user.gender != 'unknown'">
                    <span ng-if="user.gender == 'male'">{{'Мужской'|translate}}</span>
                    <span ng-if="user.gender == 'female'">{{'Женский'|translate}}</span>
                </dd>
                <dd ng-if="user.gender == 'unknown'">{{'не указано'|translate}}</dd>
                <dt>{{'Дата рождения'|translate}}:</dt>
                <dd ng-if="user.birth_date">{{user.birth_date}}</dd>
                <dd ng-if="!user.birth_date">{{'не указано'|translate}}</dd>
            </dl>
        </div>

    </div>
</div>