<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate"/>
    <crumb href="'/profile'" title="'Профиль'|translate"/>
    <crumb title="'Смена пароля'|translate"/>
</breadcrumbs>


<div class="padded" bz-loading-container="loading">
    <div class="page-header">
        <h1>{{'Смена пароля'|translate}}</h1>
    </div>

    <div class="main-content">
        <form class="changePassword form-horizontal" name="changePassword" novalidate>
            <div class="form-group" ng-class="{ 'has-error': (changePassword.old_password.$invalid && changePassword.old_password.$dirty) || errors.old_password}">
                <label class="control-label col-lg-3">{{'Введите старый пароль'|translate}}<span
                        class="star">*</span></label>

                <div class="controls col-lg-4">
                    <input class="form-control" type="password" ng-model="pass.old_password"
                           name="old_password" autocomplete="off" required>

                    <div class="ng-cloak help-block" ng-if="changePassword.old_password.$invalid && changePassword.old_password.$dirty">
                        {{'Поле не может быть пустым'|translate}}
                    </div>
                    <div class="ng-cloak help-block" ng-if="errors.old_password">
                        {{'Неверный пароль'|translate}}
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (changePassword.new_password.$invalid && changePassword.new_password.$dirty) || errors.new_password}">
                <label class="control-label col-lg-3">{{'Введите новый пароль'|translate}}<span
                        class="star">*</span></label>

                <div class="controls col-lg-4">
                    <input class="form-control" type="password" ng-model="pass.new_password"
                           name="new_password" autocomplete="off" required>

                    <div class="ng-cloak help-block" ng-if="changePassword.new_password.$invalid && changePassword.new_password.$dirty">
                        {{'Поле не может быть пустым'|translate}}
                    </div>

                    <div class="ng-cloak help-block" ng-if="errors.new_password">
                        {{'Пароли не совпадают'|translate}}
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': (changePassword.new_spassword.$invalid && changePassword.new_spassword.$dirty) || errors.new_password}">
                <label class="control-label col-lg-3">{{'Повторите новый пароль'|translate}}<span
                        class="star">*</span></label>

                <div class="controls col-lg-4">
                    <input class="form-control" type="password" ng-model="pass.new_spassword"
                           name="new_spassword" autocomplete="off" required>

                    <div class="ng-cloak help-block" ng-if="changePassword.new_spassword.$invalid && changePassword.new_spassword.$dirty">
                        {{'Поле не может быть пустым'|translate}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="controls col-lg-9 col-lg-offset-3">
                    <button ng-disabled="changePassword.$invalid || loading" ng-click="savePass(pass)"
                            class="btn btn-primary">
                        <span ng-hide="loading">{{'Сохранить'|translate}}</span>
                        <span ng-show="loading">{{'Сохраняется...'|translate}}</span>
                    </button>
                    <button ng-click="cancel()" class="btn btn-default">
                        <span>{{'Отменить'|translate}}</span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>