<breadcrumbs>
    <crumb title="'Мой кабинет'|translate" />
</breadcrumbs>

<div bz-help="home.step1" bz-help-position="right" class="padded">
    <div class="row">
        <div class="col-md-4">
            <div ng-include="'/themes/default/views/dashboard/my-courses.html'"></div>
            <div ng-include="'/themes/default/views/dashboard/news.html'"></div>
            <div ng-include="'/themes/default/views/dashboard/clients.html'"></div>
        </div>
        <div class="col-md-4">
            <div ng-include="'/themes/default/views/dashboard/my-tasks.html'"></div>
            <div ng-include="'/themes/default/views/dashboard/announcement.html'"></div>
        </div>
        <div class="col-md-4">
            <div ng-include="'/themes/default/views/dashboard/calendar.html'"></div>
            <div ng-include="'/themes/default/views/dashboard/new-courses.html'"></div>
            <div ng-include="'/themes/default/views/dashboard/feedback.html'"></div>
        </div>
    </div>
</div>