/* Область с данными */
.main {
  background: url("../img/tile-chocolate.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
  & > .container-main {
    position: relative;
    background: radial-gradient(circle at 50% 50%, #532824 0%, #3E2220 300px, #2F191E 100%) repeat scroll 0 0 #532824;
  }
  & > .content {
    color: #FCFCFC;
    text-align: left;
    width: auto;
    overflow: hidden;
    min-height: 200px;
    margin-left: 0;
    background-image: url('../img/preloader.gif');
    background-repeat: no-repeat;
    background-position: center 100px;
  }
}

.background {
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.tile-overlay {
  background: url("../img/bg-tile.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.canvas-container {
  position: relative;
  margin: 0 auto;
}
.canvas-text {
  font-family: verdana;
  position: absolute;
}
