.main {
  position: relative;
}

.main .container-main {
  position: relative;
  background: url("../img/pw_maze_black.png") repeat scroll 0 0 transparent;
}

.main .container-main.overlay {
  opacity: 0.3
}


.main .content {
  color: #D9D4D3;
  text-align: left;
  width: auto;
  overflow: hidden;
  min-height: 200px;
  margin-left: 0;
}
.main .preload {
  /*background-image: url('../img/preloader.gif');
  background-repeat: no-repeat;
  background-position: center 100px;*/
}

.canvas-container {
  position: relative;
  margin: 0 auto;
}
.canvas-text {
  font-family: verdana;
  color: #D9D4D3;
  position: absolute;
  cursor: pointer;
}
.canvas-dialog {
  background: url("../img/pw_maze_black.png") repeat scroll 0 0 transparent;
  border: 4px solid #D9D4D3;
  border-radius: 10px;
  color: #D9D4D3;
  text-align: center;
  font-family: verdana;
  padding: 10px;
  left: 50%;
  position: absolute;
  z-index: 100;
}
