<form class="course form-horizontal" name="course" novalidate>


<div class="col col-lg-9">

    <div class="form-group">
        <label class="control-label col-lg-2">{{'Иконка'|translate}}<span class="star"></span></label>

        <div class="controls col-lg-9">
            <ul class="gallery">
                <li class="item">
                    <img ng-src="{{(data.icon ? data.icon : '/themes/default/assets/img/defaultcourse.png')}}" />

                    <div class="details" ng-show="data.icon">
                        <!--a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a-->
                        <a href="" data-ng-click="deleteIcon()" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>

            <div class="caption">
                <div bz-uploader="'/api/rest.php/courses?action=upload&icon=true'" limit="1"
                     text="{'choose': 'Фото не загруженно'}" ng-model="data.icon" autoupload="true"
                     data-ng-hide="data.icon">

                    <div ng-repeat="file in files" class="bz-uploaded-file">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">{{'Название'|translate}}<span class="star">*</span></label>

        <div class="controls col-lg-9">
            <input class="form-control" type="text" ng-model="data.title" name="title" required>

            <div class="ng-cloak help-block" ng-if="title.title.$invalid">
                {{'Поле не может быть пустым'|translate}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">{{'Аннотация'|translate}}</label>

        <div class="controls col-lg-9">
            <textarea class="form-control" ng-model="data.annotation" name="annotation"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">{{'Метки'|translate}}<span class="star"></span></label>

        <div class="controls col-lg-9">
            <input type="text" ui-select2="select2Options" ng-model="data.tags" value="" name="tags" style="min-width: 100%"/>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-lg-2">{{'Описание'|translate}}</label>

        <div class="controls col-lg-9">
            <textarea class="form-control" ckeditor="editorOptions" ng-model="data.description"
                      name="description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2">{{'Изображения'|translate}}</label>

        <div class="controls col-lg-9">
            <div bz-uploader="'/api/rest.php/courses?action=upload'" text="{'choose': 'Загрузить файл'}"
                 ng-model="data.files" editor-select-images autoupload="true">
                <ul class="gallery">
                    <li ng-repeat="(key,file) in data.files" class="item">
                        <img src="{{file.url}}" />
                        <div class="details">
                            <!--a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a-->
                            <a href="" bz-confirm="data.files.splice(key,1)" message="'Удалить?'"
                               title="{{'Удалить'|translate}}" class="action"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="controls col-lg-10 col-lg-offset-2">

            <div class="btn-group">
                <button ng-disabled="course.$invalid || loading" ng-click="save(data, 'close')" type="button" class="btn btn-primary">
                    <span ng-hide="loading">{{'Сохранить'|translate}}</span>
                    <span ng-show="loading">{{'Сохраняется...'|translate}}</span>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-class="{'disabled':course.$invalid || loading}" ng-disabled="course.$invalid || loading">
                        <a ng-click="save(data, 'reload')" href="">{{'Сохранить и продолжить редактировать'|translate}}</a>
                    </li>
                    <li ng-class="{'disabled':course.$invalid || loading}" ng-disabled="course.$invalid || loading">
                        <a ng-click="save(data, 'needPreview')" href="">{{'Сохранить и просмотреть'|translate}}</a>
                    </li>
                </ul>
            </div>

            <button ng-click="cancel()" class="btn btn-default">
                <span>{{'Отменить'|translate}}</span>
            </button>
        </div>
    </div>

</div>

<div class="col col-lg-3">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Опции'|translate}}</h3>
        </div>
        <div class="panel-body">

            <label class="checkbox">
                <input type="checkbox" ng-model="data.is_published" value="{{data.is_published}}">
                {{'Опубликовывать'|translate}}
            </label>

            <div>
                <label class="control-label">{{'Код'|translate}}</label>

                <div class="controls">
                    <input class="form-control" type="text" ng-model="data.code" name="code">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Характеристики'|translate}}</h3>
        </div>
        <div class="panel-body">

            <div>
                <label>{{'Продолжительность обучения'|translate}}<span class="star"></span></label>

                <div class="input-group">

                    <input class="form-control" type="text" ng-model="data.course_length" name="course_length"
                           custom-validator-int>
                    <span class="input-group-addon">в днях</span>
                </div>

                <div class="ng-cloak help-block" ng-show="course.course_length.$invalid">
                    {{'Невалидное число'|translate}}
                </div>
            </div>

            <div>
                <label>{{'Оценка занятости'|translate}}<span class="star"></span></label>

                <input class="form-control" type="text" ng-model="data.score_employment" name="score_employment">

                <div class="ng-cloak help-block" ng-show="course.course_length.$invalid">
                    {{'Невалидное число'|translate}}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Открывать курс со страницы:'|translate}}<span class="star"></span></h3>
        </div>
        <div class="panel-body">
            <label class="radio">
                <input type="radio" value="start_page" name="start_type" ng-model="data.start_type"/>
                {{'описание курса (титульная страница)'|translate}}
            </label>
            <label class="radio">
                {{'план обучения'|translate}}
                <input type="radio" value="plan" name="start_type" ng-model="data.start_type"/>
            </label>
            <label class="radio">
                {{'материалы курса'|translate}}
                <input type="radio" value="elements" name="start_type" ng-model="data.start_type"/>
            </label>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Определять результ прохождения курса по:'|translate}}<span
                    class="star"></span></h3>
        </div>
        <div class="panel-body">
            <label class="radio">
                <input type="radio" value="summary" name="finish_type" ng-model="data.finish_type"/>
                {{'% прохождения курса'|translate}}
            </label>
            <label class="radio">
                {{'Итоговому тестированию'|translate}}
                <input type="radio" value="by_test" name="finish_type" ng-model="data.finish_type"/>
            </label>
            <select ng-disabled="data.finish_type == 'summary'" class="form-control" ng-model="data.final_test_id"
                    name="final_test_id"
                    ng-options="c.element_id as c.title for c in courseTests"></select>
        </div>
    </div>

</div>

</form>