<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/study-resources'" title="'Учебные ресурсы'|translate" />
    <crumb href="'/courses'" title="'Курсы'|translate" />
    <crumb title="course.title" />
    <crumb title="'Тест'|translate" />
    <crumb title="test.title" />
    <crumb title="'Настройки'|translate" />
</breadcrumbs>

<div class="padded" bz-loading-container="loading">
    <div ng-include="'/themes/default/views/modules/courses/form-test-settings.html'"></div>
</div>