<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate"/>
    <crumb href="'/courses/execute/'+task.parent_id" title="task.title"/>
    <crumb href="'/courses/materials/'+task.parent_id" title="'Материалы курса'|translate"/>
    <crumb title="data.title"/>
</breadcrumbs>


<div id="perspective" class="perspective effect-airbnb modalview animate">


    <div class="padded col col-xs-9   course-container" bz-loading-container="loading">
        <div class="page-header">
            <h1>{{data.title}}</h1>
            <h6><strong>{{'Курс'|translate}}:</strong> {{course.title}}</h6>
        </div>
        <div ng-if="errors">
            <div class="alert alert-danger" ng-if="errors.not_assign">{{'Это задание Вам не назначено'|translate}}</div>
            <div class="alert alert-danger" ng-if="errors.not_found">{{errors.not_found}}</div>
        </div>

        <div class="padded main-content" bz-loading-container="loading">
            <div ng-if="data.type == 'page'" ng-include="'/themes/default/views/modules/pages/page-page.html'"></div>
            <div ng-if="data.type == 'file'" ng-include="'/themes/default/views/modules/pages/page-file.html'"></div>
            <div ng-if="data.type == 'url'" ng-include="'/themes/default/views/modules/pages/page-url.html'"></div>
            <div ng-if="data.type == 'html'" ng-include="'/themes/default/views/modules/pages/page-html.html'"></div>
        </div>
    </div>
    <div class="col col-xs-3 course-sidebar sidebar-right">
        <a ng-if="task && task.parent_id" class="btn btn-info btn-block btn-lg" href="/courses/materials/{{task.id}}">
        <!--<a ng-if="task && task.parent_id" class="btn btn-info btn-block btn-lg" href="/courses/materials/{{task.id}}{{mode ? '?mode='+mode : ''}}">-->
            <span class="fa fa-book"></span> {{'Материалы курса'|translate}}
        </a>
        <br/>
        <div ng-if="task && task.parent_id">
            <div ng-include="'/themes/default/views/block/course-plan.html'"></div>
        </div>
    </div>
</div>