<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb title="'Учебные ресурсы'|translate" />
    <crumb href="'/courses'" title="'Курсы'|translate"/>
    <crumb href="'/courses/' + course.id + '/view'" title="course.title"/>
    <crumb title="'Задание'|translate" />
    <crumb title="testTask.title"/>
    <crumb title="'Отчет'|translate"/>
</breadcrumbs>


<div class="padded">
    <div class="page-header">
        <div class="table-actions">
            <a class="btn btn-primary" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="report.csv">{{'Выгрузить в CSV'|translate}}</a>
        </div>

        <h1>{{'Отчет по тесту'|translate}}</h1>
        <h6><strong>{{'Курс'|translate}}:</strong> {{course.title}}</h6>
        <h6><strong>{{'Задание'|translate}}:</strong> {{testTask.title}}</h6>
    </div>

    <div class="main-content" bz-loading-container="loading" class="course-report">

        <select ng-model="courseId">
            <option ng-repeat="course in courses" value="{{course.id}}">{{course.title}}</option>
        </select>
        <select ng-model="taskId">
            <option ng-repeat="testTask in testTasks" value="{{testTask.id}}">{{testTask.title}}</option>
        </select>

        <table ng-show="reportItems" ng-table="tableParams" class="table table-striped table-condensed table-hover table-test-report"
               show-filter="true">
            <tr ng-repeat="(k,reportItem) in reportItems">
                <td data-title="'ФИО'|translate" filter="{ 'user_full_name': 'text' }" sortable="'user_full_name'">
                    {{reportItem.user_full_name}}
                </td>
                <td data-title="' Дата начала прохождения теста'|translate" filter="{ 'task_start_date': 'text' }" sortable="'task_start_date'">
                    {{reportItem.task_start_date}}
                </td>
                <td data-title="'Дата завершения тестирования'|translate" filter="{ 'task_finish_date': 'text' }" sortable="'task_finish_date'">
                    {{reportItem.task_finish_date}}
                </td>
                <td data-title="'Текущий статус тестирования'|translate" filter="{ 'task_status': 'text' }" sortable="'task_status'">
                    <span ng-if="!reportItem.task_status">{{'Не начато'|translate}}</span>
                    <span ng-if="reportItem.task_status == 'started' ">{{'Начато'|translate}}</span>
                    <span ng-if="reportItem.task_status == 'inprogress' ">{{'В процессе'|translate}}</span>
                    <span ng-if="reportItem.task_status == 'finished' ">{{'Выполненно'|translate}}</span>
                </td>
                <td data-title="'Результат'|translate" sortable="'task_mark'">
                    {{reportItem.task_mark}}
                </td>
                <td width="205" data-title="'Действия'|translate" class="actions" filter="{ 'clear': 'clear', 'templateURL': '/themes/default/views/block/ng-table/filters/clear.html' }">
                    <div class="btn-group">
                        <a ng-if="reportItem.task_result_id" href="/courses/{{courseId}}/tests-report/{{taskId}}/result/{{reportItem.task_result_id}}" title="{{'Подробного'|translate}}">{{'Подробного'|translate}}</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


