<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/study-resources'" title="'Учебные ресурсы'|translate"/>
    <crumb href="'/courses'" title="'Курсы'|translate"/>
    <crumb href="'/courses/' + course.id + '/view'" title="course.title"/>
    <crumb title="'Слушатели'|translate"/>
</breadcrumbs>

<div class="padded">
    <div class="page-header">
        <h1>{{'Слушатели курса'|translate}}</h1>
        <h6><strong>{{'Курс'|translate}}:</strong> {{course.title}}</h6>
    </div>
    <div class="main-content" bz-loading-container="loading">
        <div class="col-xs-6 col-md-12">

            <table ng-table="tableParams" class="table table-striped table-condensed table-hover table-courses"
                   show-filter="true">
                <tr ng-repeat="(k,user) in users">

                    <td class="table-preview" width="40%" data-title="'ФИО'|translate" filter="{ 'fullname': 'text' }" sortable="'title'">
                        <a class="name" href="/users/view/{{user.id}}" title="{{'Редактировать'|translate}}">
                            <img alt="" src="/themes/default/assets/img/defaultuser.jpg" ng-src="{{(user.photo_thumb ? user.photo_thumb : '/themes/default/assets/img/defaultuser.jpg')}}"
                                 src="/themes/default/assets/img/defaultuser.jpg"
                                 class="img-circle avatar">
                            {{user.fullname}}
                        </a>
                        <span class="subtext label label-default" ng-if="user.is_active && user.need_edit">{{'Не заполнен'|translate}}</span>
                        <span class="subtext label label-danger" ng-if="!user.is_active">{{'Заблокирован'|translate}}</span>
                    </td>

                    <td class="text-center" data-title="'E-mail'|translate" filter="{ 'email': 'text' }" sortable="'email'">
                        {{user.email}}
                    </td>
                    <td width="250" data-title="'Дата последней активности'" filter="{ 'last_activity': 'date', 'templateURL': '/themes/default/views/block/ng-table/filters/date.html' }"
                        sortable="'last_activity'">
                        {{user.last_activity|date:'yyyy-MM-dd'}}<br/>
                    </td>

                    <td filter="{ 'clear': 'clear', 'templateURL': '/themes/default/views/block/ng-table/filters/clear.html' }"></td>
                </tr>
            </table>

        </div>

    </div>
</div>


