<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/courses/my'" title="'Мои Курсы'|translate" />
    <crumb href="'/courses/execute/'+task.id" title="task.title"/>
    <crumb title="'Материалы'|translate"/>
</breadcrumbs>
<div class="padded col col-xs-9" bz-loading-container="loading">
    <div class="page-header">
        <h1>{{'Материалы курса'|translate}}</h1>
        <h6><strong>{{'Курс'|translate}}:</strong> {{task.element.title}}</h6>
        <h6><strong>{{'Задание'|translate}}:</strong> {{task.title}}</h6>
    </div>
    <div ng-if="errors">
        <div class="alert alert-danger" ng-if="errors.not_assign">{{'Это задание Вам не назначено'|translate}}</div>
        <div class="alert alert-danger" ng-if="errors.not_found">{{errors.not_found}}</div>
    </div>
    <ul class="main-content" class="list-unstyled course-materials">
        <li ng-repeat="material in course.materials">
            <a ng-if="material.type == 'resource'"
               ng-href="/courses/material/{{material.id}}/task/{{task.id}}?materials=true{{mode ? '&mode='+mode : '&mode=testing'}}">
                {{material.title}}
            </a>
            <a ng-if="material.type == 'test'"
               ng-href="/tests/execute/0?testId={{material.element_id}}&courseTaskId={{task.parent_id}}&materials=true{{ mode ? '&mode='+mode : ''}}">
                {{material.title}}
            </a>

        </li>
    </ul>
</div>
<div class="col col-xs-3 course-sidebar sidebar-right">
    <a ng-if="task && task.parent_id" class="btn btn-info btn-block btn-lg" href="/courses/materials/{{task.id}}{{mode ? '?mode='+mode : ''}}">
        <span class="fa fa-book"></span> {{'Материалы курса'|translate}}
    </a>
    <br/>
    <div ng-if="task && task.parent_id">
        <div ng-include="'/themes/default/views/block/course-plan.html'"></div>
    </div>
</div>