<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/study-resources'" title="'Учебные ресурсы'|translate" />
    <crumb href="'/courses'" title="'Курсы'|translate" />
    <crumb title="'Создание'|translate" />
</breadcrumbs>

<div class="padded" bz-loading-container="loading">

    <div class="page-header">
        <h1>{{'Создание курса'|translate}}</h1>
    </div>

    <div class="main-content" ng-include="'/themes/default/views/modules/courses/form-edit.html'"></div>

</div>