<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{'Наши клиенты'|translate}}</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/71/36/7136360f60290db7d7a7f6d97c459ecd.png?timestamp=1389856789979"></a>
            </div>
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/81/3f/813f972407821898b718e58d6e8577c7.png?timestamp=1389856930581"></a>
            </div>
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/d3/27/d327cd87e48bc8427bcb8044dd5667cf.png?timestamp=1389856793213"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/8f/44/8f44f47ff4cdda0817fbb39eed796641.png?timestamp=1389856793213"></a>
            </div>
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/7c/ac/7cac0583926ec0e22de3b37073b26238.png?timestamp=1389856793213"></a>
            </div>
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/9a/24/9a24159bf3acb5ae60935c83c078b93a.png?timestamp=1389856793213"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/ad/b2/adb2426126cdef1280a82c1534118afd.png?timestamp=1389856793213"></a>
            </div>
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/b0/00/b000dd682047017dbbeb362a06b7713c.png?timestamp=1389856793213"></a>
            </div>
            <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://equalteam.net/static/e1/92/e192ebadf8b362e6c41d22ef65d0d79a.png?timestamp=1389856793213"></a>
            </div>
        </div>

        <p class="text-right"><a href="#">все клиенты...</a></p>
    </div>
</div>