<div class="panel panel-primary panel-mytasks" data-ng-controller="Dashboard.MyTasksCtrl" bz-loading-container="loading" ng-show="tasks.length > 0">
    <div class="panel-heading">
        <h3 class="panel-title">{{'Текущие задания'|translate}}</h3>
    </div>
    <div>
        <table class="table table-condensed table-hover">
            <tr ng-repeat="task in tasks">
                <td width="32">
                    <i ng-if="task.type == 'test'" class="fa fa-check-square-o fa-3x"></i>
                    <i ng-if="task.type == 'resource'" class="fa fa-archive fa-3x"></i>
                    <i ng-if="task.type == 'course'" class="fa fa-th-large fa-3x"></i>
                </td>
                <td>
                    <a ng-if="task.type == 'test'" href="/tests/execute/{{task.id}}" title="{{'Пройти'|translate}}">{{task.title}}</a>
                    <a ng-if="task.type == 'resource'" href="/pages/execute/{{task.id}}" title="{{'Пройти'|translate}}">{{task.title}}</a>
                    <a ng-if="task.type == 'course'" href="/courses/execute/{{task.id}}" title="{{'Пройти'|translate}}">{{task.title}}</a>
                    </br>
                    {{task.description}}
                </td>
                <td class="text-right">
                    <a ng-if="task.type == 'test'" class="btn btn-sm btn-success" href="/tests/execute/{{task.id}}" title="{{'Пройти'|translate}}"><span class="fa fa-rocket"></span></a>
                    <a ng-if="task.type == 'resource'" class="btn btn-sm btn-success" href="/pages/execute/{{task.id}}" title="{{'Пройти'|translate}}"><span class="fa fa-rocket"></span></a>
                    <a ng-if="task.type == 'course'" class="btn btn-sm btn-success" href="/courses/execute/{{task.id}}" title="{{'Пройти'|translate}}"><span class="fa fa-rocket"></span></a>
                </td>
            </tr>
        </table>
    </div>
</div>