<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{'Новости'|translate}}</h3>
    </div>
    <div class="panel-body">

        <div class="item-news">
            <div class="time">10.10.2013</div>
            <div class="pull-left">
                <img width="80" src="http://els.equalteam.net/uploads/courses/ff/efffef211eb3d59ed62eb19cd2ae83e6d1.jpg"/>
            </div>
            <h1><a href="#">Новый курс "Управление гневом в веб-разработке"</a></h1>
            <p>Разработан Александром Слубским по заказу Мирослава Боцулы</p>
            <p class="text-right"><a href="#">подробнее...</a></p>
        </div>

        <div class="item-news">
            <div class="time">09.10.2013</div>
            <div class="pull-left">
                <img width="80" src="http://www.lico.ru/images/cms/data/00021.jpg"/>
            </div>
            <h1><a href="#">Новый курс "Умение правильно давать визитку"</a></h1>
            <p>Как за час раздать все визитке на выставке? Это реально!</p>
            <p class="text-right"><a href="#">подробнее...</a></p>
        </div>
    </div>
</div>