<form class="editPage form-horizontal" name="editPage" novalidate>
<div class="col col-lg-9">

<div class="form-group">
    <label class="control-label col-lg-2">{{'Название'|translate}}<span class="star">*</span></label>

    <div class="controls col-lg-10">
        <input class="form-control" type="text" ng-model="page.title" name="title" required>

        <div class="ng-cloak help-block" ng-if="editPage.title.$invalid">
            {{'Поле не может быть пустым'|translate}}
        </div>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-2">{{'Тип'|translate}}<span class="star">*</span></label>

    <div class="controls col-lg-10">
        <select class="form-control" ng-model="page.type" required>
            <option value="">-</option>
            <option value="page">{{'Страница'|translate}}</option>
            <option value="url">{{'Ссылка'|translate}}</option>
            <option value="file">{{'Файл'|translate}}</option>
            <option value="html">{{'HTML-сайт'|translate}}</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-2">{{'Описание'|translate}}<span class="star"></span></label>

    <div class="controls col-lg-10">
        <input class="form-control" type="text" ng-model="page.description" name="description">

        <!--<div class="ng-cloak help-block" ng-if="editPage.code.$invalid">-->
        <!--{{'Поле не может быть пустым'|translate}}-->
        <!--</div>-->
    </div>
</div>

<div class="form-group">
    <label class="control-label col-lg-2">{{'Метки'|translate}}</label>

    <div class="controls col-lg-10">
        <input type="text" ui-select2="select2Options" style="min-width: 100%" ng-model="page.tags"/>
    </div>
</div>

<div class="form-group" ng-if="page.type == 'page'">
    <label class="control-label col-lg-2">{{'Содержимое'|translate}}</label>
    <!--<label ng-if="page.type == 'page'" class="control-label col-lg-2">{{'Текст'|translate}}</label>-->
    <!--<label ng-if="page.type != 'page'" class="control-label col-lg-2">{{'Описание'|translate}}</label>-->

    <div class="controls col-lg-10">
        <textarea class="form-control" ckeditor="editorOptions" ng-model="page.body" name="body"></textarea>
    </div>
</div>

<div class="form-group" ng-if="page.type == 'url'">
    <label class="control-label col-lg-2">{{'URL'|translate}}<span class="star"></span></label>

    <div class="controls col-lg-10">
        <input class="form-control" type="text" ng-model="page.url" name="url">
    </div>
</div>

<div class="form-group" ng-if="page.type == 'page'">
    <label class="control-label col-lg-2">{{'Приклепленный файл'|translate}}<span class="star"></span></label>

    <div class="controls col-lg-10">
        <div bz-uploader="'/api/rest.php/pages?action=upload'" text="{'choose': 'Загрузить файл'}" editor-select-images
             ng-model="page.files" autoupload="true">
            <div class="bz-uploaded-file">
                <ul class="gallery">
                    <li class="item" ng-repeat="(key,file) in page.files">

                        <div ng-switch on="file.extension">

                            <span ng-switch-when="pdf" viewer="file.url" width="160" height="190"></span>

                        <span ng-switch-when="jpeg">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="png">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="jpg">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="bmp">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="gif">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                         <span ng-switch-when="mp4">
                            <a href="{{file.url}}" title="{{file.name}}" target="_blank">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="zip">
                            <a href="{{file.url}}" title="{{file.name}}" target="_blank">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="rar">
                            <a href="{{file.url}}" title="{{file.name}}" target="_blank">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="7z">
                            <a href="{{file.url}}" title="{{file.name}}" target="_blank">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="flv">
                            <a href="{{file.url}}" title="{{file.name}}" target="_blank">{{file.name}}</a>
                        </span>

                          <span ng-switch-when="swf">
                            <div swf-object="file.url" width="200" height="100"></div>
                        </span>

                            <span ng-switch-when="xls"><a href="{{file.url}}" target="_blank">{{file.url}}</a></span>
                            <span ng-switch-when="xlsx"><a href="{{file.url}}" target="_blank">{{file.url}}</a></span>
                            <span ng-switch-when="doc"><a href="{{file.url}}" target="_blank">{{file.url}}</a></span>
                            <span ng-switch-when="docx"><a href="{{file.url}}" target="_blank">{{file.url}}</a></span>

                            <div class="details">
                                <a href="" bz-confirm="page.files.splice(key,1)" message="'Удалить?'"
                                   title="{{'Удалить'|translate}}" class="action">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="form-group" ng-if="page.type == 'file'">
    <label class="control-label col-lg-2">{{'Приклепленный файл'|translate}}<span class="star"></span></label>

    <div class="controls col-lg-10">
        <div bz-uploader="'/api/rest.php/pages?action=upload'" text="{'choose': 'Загрузить файл'}" ng-model="page.files"
             limit="1" autoupload="true">

            <ul class="gallery">

                <li class="item" ng-if="page.files.extension" ng-switch on="page.files.extension">
                        <span ng-switch-when="pdf" viewer="page.files.url" width="460" height="290"></span>

                        <span ng-switch-when="jpeg">
                            <a href="{{page.files.url}}" target="_blank"><img width="80px"
                                                                              ng-src="{{page.files.url}}"
                                                                              title="{{page.files.name}}"
                                                                              alt="{{page.files.name}}"/></a>
                        </span>

                        <span ng-switch-when="png">
                            <a href="{{page.files.url}}" target="_blank"><img width="80px"
                                                                              ng-src="{{page.files.url}}"
                                                                              title="{{page.files.name}}"
                                                                              alt="{{page.files.name}}"/></a>
                        </span>

                        <span ng-switch-when="jpg">
                            <a href="{{page.files.url}}" target="_blank"><img width="80px"
                                                                              ng-src="{{page.files.url}}"
                                                                              title="{{page.files.name}}"
                                                                              alt="{{page.files.name}}"/></a>
                        </span>

                        <span ng-switch-when="bmp">
                            <a href="{{page.files.url}}" target="_blank"><img width="80px"
                                                                              ng-src="{{page.files.url}}"
                                                                              title="{{page.files.name}}"
                                                                              alt="{{page.files.name}}"/></a>
                        </span>

                        <span ng-switch-when="gif">
                            <a href="{{page.files.url}}" target="_blank">
                                <img width="80px" ng-src="{{page.files.url}}" title="{{page.files.name}}"
                                     alt="{{page.files.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="mp4">
                            <a href="{{page.files.url}}" title="{{page.files.name}}"
                               target="_blank">{{page.files.name}}</a>
                        </span>

                         <span ng-switch-when="zip">
                            <a href="{{page.files.url}}" title="{{page.files.name}}"
                               target="_blank">{{page.files.name}}</a>
                         </span>

                         <span ng-switch-when="rar">
                            <a href="{{page.files.url}}" title="{{page.files.name}}"
                               target="_blank">{{page.files.name}}</a>
                         </span>

                          <span ng-switch-when="7z">
                            <a href="{{page.files.url}}" title="{{page.files.name}}"
                               target="_blank">{{page.files.name}}</a>
                         </span>

                        <span ng-switch-when="flv">
                            <a href="{{page.files.url}}" title="{{page.files.name}}"
                               target="_blank">{{page.files.name}}</a>
                        </span>

                        <span ng-switch-when="swf">
                             <div swf-object="page.files.url" width="200" height="100"></div>
                        </span>

                    <span ng-switch-when="xls"><a href="{{page.files.url}}"
                                                  target="_blank">{{page.files.name}}</a></span>
                    <span ng-switch-when="xlsx"><a href="{{page.files.url}}"
                                                   target="_blank">{{page.files.name}}</a></span>
                    <span ng-switch-when="doc"><a href="{{page.files.url}}"
                                                  target="_blank">{{page.files.name}}</a></span>
                    <span ng-switch-when="docx"><a href="{{page.files.url}}"
                                                   target="_blank">{{page.files.name}}</a></span>


                        <div class="details" ng-if="page.files">
                            <a href="" data-ng-click="page.files = ''" class="action">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </li>


                <li class="item" ng-if="page.files.length" ng-repeat="(key,file) in page.files">

                    <div ng-switch on="file.extension">
                        <span ng-switch-when="pdf" viewer="file.url" width="460" height="290"></span>

                        <span ng-switch-when="jpeg">
                            <a href="{{file.url}}" target="_blank"><img width="80px"
                                                                        ng-src="{{file.url}}" title="{{file.name}}"
                                                                        alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="png">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="jpg">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="bmp">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="gif">
                            <a href="{{file.url}}" target="_blank">
                                <img width="80px" ng-src="{{file.url}}" title="{{file.name}}" alt="{{file.name}}"/>
                            </a>
                        </span>

                        <span ng-switch-when="mp4">
                            <a href="{{file.url}}" target="_blank" title="{{file.name}}">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="zip">
                            <a href="{{file.url}}" target="_blank" title="{{file.name}}">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="rar">
                            <a href="{{file.url}}" target="_blank" title="{{file.name}}">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="7z">
                            <a href="{{file.url}}" target="_blank" title="{{file.name}}">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="flv">
                            <a href="{{file.url}}" target="_blank" title="{{file.name}}">{{file.name}}</a>
                        </span>

                        <span ng-switch-when="swf">
                                <div swf-object="file.url" width="200" height="100"></div>
                        </span>

                        <span ng-switch-when="xls"><a href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                        <span ng-switch-when="xlsx"><a href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                        <span ng-switch-when="doc"><a href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                        <span ng-switch-when="docx"><a href="{{file.url}}" target="_blank">{{file.name}}</a></span>
                        <button class="btn btn-danger" data-ng-click="page.files.splice(key,1)"><i
                                class="fa fa-trash-o"></i></button>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="form-group" ng-if="page.type == 'html'">
    <label class="control-label col-lg-2">{{'Приклепленный файл'|translate}}<span class="star"></span></label>

    <div class="controls col-lg-10">
        <div ng-if="!page.files || !page.files.length" bz-uploader="'/api/rest.php/pages?action=uploadZip'"
             text="{'choose': 'Загрузить архив'}" ng-model="page.files" limit="1" autoupload="true">

        </div>
        <div class="bz-uploaded-file">
            <div ng-if="page.files.length">
                <a href="{{page.files[0].url}}" target="_blank">
                    {{page.files[0].name}}
                </a>
                <button class="btn btn-danger" ng-if="page.files[0]" data-ng-click="page.files = ''"><i
                        class="fa fa-trash-o"></i></button>

                <div ng-if="page.files.start_files" class="form-group">
                    <label class="control-label col-lg-2">{{'Стартовый файл'|translate}}*</label>

                    <div class="controls col-lg-9">
                        <select class="form-control" ng-model="page.files[0].index_page" name="file"
                                ng-options="c for c in page.files.start_files" required>
                        </select>

                        <div class="ng-cloak help-block" ng-if="editPage.file.$invalid">
                            {{'Поле не может быть пустым'|translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="!page.files.length">
                <a href="{{page.files.url}}" target="_blank">
                    {{page.files.name}}
                </a>
                <button class="btn btn-danger" ng-if="page.files" data-ng-click="page.files = ''"><i
                        class="fa fa-trash-o"></i></button>

                <div ng-if="page.files.start_files" class="form-group">
                    <label class="control-label col-lg-2">{{'Стартовый файл'|translate}}*</label>

                    <div class="controls col-lg-9">
                        {{page.files.index_page}}
                        <select class="form-control" ng-model="page.files.index_page" name="file"
                                ng-options="c for c in page.files.start_files" required>
                        </select>

                        <div class="ng-cloak help-block" ng-if="editPage.file.$invalid">
                            {{'Поле не может быть пустым'|translate}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
<div class="col col-lg-3">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Опции'|translate}}</h3>
        </div>
        <div class="panel-body">
            <label class="checkbox">
                <input type="checkbox" name="published" ng-model="page.is_published"> {{'Опубликовывать'|translate}}
            </label>
            <label class="checkbox" ng-if="page.type == 'html' || page.type == 'url'">
                <input type="checkbox" name="open_in_window" ng-model="page.open_in_window"> {{'Открывать в новом
                окне'|translate}}
            </label>

            <label class="control-label">{{'Код'|translate}}<span class="star"></span></label>

            <div class="controls">
                <input class="form-control" type="text" ng-model="page.code" name="code">

                <!--<div class="ng-cloak help-block" ng-if="editPage.code.$invalid">-->
                <!--{{'Поле не может быть пустым'|translate}}-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Категория'|translate}}</h3>
        </div>
        <div class="panel-body">
            <select class="form-control" ng-model="page.category_id">
                <option ng-selected="!page.category_id">-</option>
                <option value="{{ category.id }}" ng-repeat="category in categories"
                        ng-selected="page.category_id == category.id">
                    {{ category.prefix }}{{ category.title }}
                </option>
            </select>
        </div>
    </div>
    <br>


</div>


<div class="form-group">
    <div class="controls col-lg-10 col-lg-offset-2">

        <div class="btn-group">
            <button ng-disabled="editPage.$invalid || loading" ng-click="save(page, 'close')" type="button"
                    class="btn btn-primary">
                <span ng-hide="loading">{{'Сохранить'|translate}}</span>
                <span ng-show="loading">{{'Сохраняется...'|translate}}</span>
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-class="{'disabled':editPage.$invalid || loading}" ng-disabled="editPage.$invalid || loading">
                    <a ng-click="save(page, 'reload')" href="">{{'Сохранить и продолжить редактировать'|translate}}</a>
                </li>
                <li ng-class="{'disabled':editPage.$invalid || loading}" ng-disabled="editPage.$invalid || loading">
                    <a ng-click="save(page, 'needPreview')" href="">{{'Сохранить и просмотреть'|translate}}</a>
                </li>
            </ul>
        </div>

        <button ng-click="cancel()" class="btn btn-default">
            <span>{{'Отменить'|translate}}</span>
        </button>
    </div>
</div>

<div class="panel-body" ng-if="needPreview" ng-bind-html="getHtml(page.body)"></div>

</form>