<div ng-controller="Pages.CategoryTreeCtrl">
    <ol class="nav nav-nested">
        <li tree-view="child in category.children at ol"
            ng-class="{expanded:child.$expanded, 'active':child.id == activeCategory.id}">
            <div>
                <a href="" ng-click="child.$expanded = !child.$expanded" ng-switch on="child.$expanded">
                    <span ng-show="child.children.length" ng-switch-when="true"><span class="fa fa-minus"></span></span>
                    <span ng-show="child.children.length" ng-switch-default><span class="fa fa-plus"></span></span>
                </a>
                <a class="leaf" href="" ng-click="filterByCategory(child)" ng-class="{'active': child.id == category_id}">
                    {{child.title}}{{child.id}}
                </a>
            </div>
            <ol class="nav nav-nested"></ol>
        </li>
    </ol>
</div>