<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb href="'/study-resources'" title="'Учебные ресурсы'|translate" />
    <crumb title="'Категории'|translate"/>
</breadcrumbs>


<div class="padded" bz-loading-container="loading">

    <div class="page-header">
        <div class="table-actions">
            <button ng-click="addCategory(category)" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                {{'Добавить категорию'|translate}}
            </button>
        </div>
        <h1>{{'Категории'|translate}}</h1>
    </div>
    <div class="main-content">
        <div class="content-container">

            <div class="categories-list edit">
                <div class="col-span-9" bz-loading-container="loading">
                    <div class="live edit-main-menu edit-category">
                        <ol class="nav nav-nested editable"
                            tree-view-sortable="category"
                            tree-view-move="move($item, $before, $index)">
                            <li tree-view="child in category.children at ol" ng-class="{expanded:child.$expanded}">
                                <div>
                                    <a href="" ng-click="child.$expanded = !child.$expanded"
                                       ng-switch="child.$expanded">
                                        <span ng-show="child.children.length" ng-switch-when="true">&#x25BC;</span>
                                        <span ng-show="child.children.length" ng-switch-default>&#x25B6;</span>
                                    </a>

                                    <div class="item-content" ng-class="{'expanded':child.$settings}">
                                        <div class="btn-group">
                                            <div class="btn with-btn"
                                                 ng-class="{'btn-primary':!child.is_published, 'btn-default':child.is_published}">
                                                <span class="title-item-menu">
                                                    {{child.title}}
                                                </span>
                                            </div>
                                            <!-- Add child menu item -->
                                            <a class="btn"ng-class="{'btn-primary':!child.is_published, 'btn-default':child.is_published}" ng-click="addCategory(child)"><span><i
                                                    class="fa fa-plus"></i></span></a>

                                            <!-- Delete menu item -->
                                            <a class="btn" ng-class="{'btn-primary':!child.is_published, 'btn-default':child.is_published}" href="" bz-confirm="remove(child)"
                                               data-title="'Удаление...'"
                                               message="'Вы действительно хотите удалить?'">
                                                <span><i class="fa fa-times"></i></span>
                                            </a>

                                            <!-- Settings -->
                                            <a class="btn" ng-class="{'btn-primary':!child.is_published, 'btn-default':child.is_published}" ng-class="{'active': child.$settings}"
                                               ng-click="child.$settings = !child.$settings; child.focus = child.$settings">
                                                <span><i class="fa fa-pencil"></i></span>
                                            </a>
                                        </div>

                                        <div class="details clearfix" ng-show="child.$settings"
                                             bz-loading-container="child.$loading">
                                            <div class="form-group">
                                                <label>{{'Название'}}</label>
                                                <input class="form-control" type="text" focus-me="child.focus"
                                                       ng-model="child.title"/>
                                            </div>

                                            <div class="form-actions text-center">
                                                <button class="btn btn-primary" ng-click="saveCategory(child)">
                                                    {{'Сохранить'| translate}}
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <ol></ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


