<breadcrumbs>
    <crumb href="'/'" title="'Мой кабинет'|translate" />
    <crumb title="'Учебные ресурсы'|translate"/>
</breadcrumbs>

<div class="padded" bz-loading-container="loading">

    <div class="page-header">
        <h1>{{'Учебные ресурсы'|translate}}</h1>
    </div>

    <div class="main-content">

        <div class="container">
            <ul>
                <li><a href="/courses">Курсы</a></li>
                <li><a href="/tests">Тесты</a></li>
                <li><a href="/pages">Ресурсы</a></li>
                <li><a href="/pages/categories">Категории ресурсов</a></li>
            </ul>
        </div>

    </div>

</div>